<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>National Biodiversity in Ireland</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/js/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="/static/js/demos/demoKE.js"></script>
</head>
<body class="bg-light">
<nav class="navbar bg-info">
    <span class="navbar-text h2 text-light">National Biodiversity in Ireland</span>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Researcher Name" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01" aria-label="Example select with button addon">
                    <option selected>County</option>
                    <option value="Cork">Cork</option>
                    <option value="Galway">Galway</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Donegal">Donegal</option>
                    <option value="Kerry">Kerry</option>
                    <option value="Tipperary">Tipperary</option>
                    <option value="Clare">Clare</option>
                    <option value="Tyrone">Tyrone</option>
                    <option value="Antrim">Antrim</option>
                    <option value="Limerick">Limerick</option>
                    <option value="Roscommon">Roscommon</option>
                    <option value="Down">Down</option>
                    <option value="Wexford">Wexford</option>
                    <option value="Meath">Meath</option>
                    <option value="Londonderry">Londonderry</option>
                    <option value="Kilkenny">Kilkenny</option>
                    <option value="Wicklow">Wicklow</option>
                    <option value="Offaly">Offaly</option>
                    <option value="Cavan">Cavan</option>
                    <option value="Waterford">Waterford</option>
                    <option value="Westmeath">Westmeath</option>
                    <option value="Sligo">Sligo</option>
                    <option value="Laois">Laois</option>
                    <option value="Kildare">Kildare</option>
                    <option value="Fermanagh">Fermanagh</option>
                    <option value="Leitrim">Leitrim</option>
                    <option value="Armagh">Armagh</option>
                    <option value="Monaghan">Monaghan</option>
                    <option value="Longford">Longford</option>
                    <option value="Dublin">Dublin</option>
                    <option value="Carlow">Carlow</option>
                    <option value="Louth">Louth</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon">
                    <option selected>Season</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Autumn">Autumn</option>
                    <option value="Winter">Winter</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                    <option selected>Abundance</option>
                    <option value="Greater than 10">Greater than 10</option>
                    <option value="Lesser than 10">Lesser than 10</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Life Stage</option>
                    <option value="Adult">Adult</option>
                    <option value="Adult & Spawn">Adult & Spawn</option>
                    <option value="Individual">Individual</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect06" aria-label="Example select with button addon">
                    <option selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect07" aria-label="Example select with button addon">
                    <option selected>Scientist Name</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary text-white bg-info" type="button" id="fileUploadForm">Query</button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <h4>Recorded Species</h4>

    <table class="table table-striped table-sm table-bordered" id="jinjaTable">

    </table>
</div>
</body>
</html>